// main.scss
@import 'src/scss/variables';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.playlist {
  & p {
    text-align: center;
    max-width: 550px;
  }

  background: $playlist-background-color;
  padding: 10px 20px 20px 20px;
  border: 1px solid $playlist-border-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h4 {
    font-size: 1.125rem;
  }
}

.song {
  margin-bottom: 3px;
  span {
    color: rgba(255,255,255,0.4);
    margin-right: 10px;
  }
  svg {
    margin-right: 10px;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.info {
  max-width: 650px;
  border: 1px solid $border-color-info;
  background: $info-background-color;
  padding: 20px;
  margin: 40px auto;
  font-size: 0.75rem;
  font-family: $font-family-monospace;
  text-align: left;

  & li {
    margin-top: 10px;
  }
}

.thinking {
  text-align: left;
  font-family: $font-family-monospace;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: white;
  margin-bottom: 12px;
}

.searchbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotify-connect {
  color: $spotify-color;
  border: 1px solid $spotify-color;
  border-radius: 10px;
  padding: 20px 50px;
  margin: 20px;
  transition: all 0.3s ease;
  &:hover {
    background-color: $spotify-color;
    a {
      font-weight: 800;
      color: #000;
    }
  }
  & a {
    color: $spotify-color;
  }
}

.spotify-add-playlist {
  color: $spotify-color;
  cursor: pointer;
  margin-left: 10px;
  padding: 20px 40px;
  font-size: 1.4rem;

  &:hover {
    font-weight: 800;
  }
  &.disabled {
    color: lightgrey;
    opacity: 0.8;
  }
}

.loading {
  opacity: 0.7;
}
