@import 'src/scss/variables';

$input-background: rgba(57, 63, 84, 0.8);
$input-text-inactive: #7881A1;
$input-text-active: $spotify-color;

input[type="text"], button {
  all: unset;
}

button {
  cursor: pointer;
}

// gradient animation
@keyframes gradient {
  0%{background-position:0 0}
  100%{background-position:100% 0}
}

.plailist-container {
  padding: 2px;
  background: radial-gradient(farthest-corner at top, #1DB954, #8348FF, #1DB954, #FF6AD5, #1DB954, #8348FF) top right/200% 200%;
  animation: moveBackground 8s infinite steps(75);
  .plailist-input button, .playlist {
    background: radial-gradient(circle at 0% 0%, #232841, #12121a 51%, #1d1e26);
  }
  .plailist-input input {
    background: linear-gradient(#0d0e17, #12121a 51%, #1d1e26);
  }
  > .spacer {
    background: transparent;
    height: 5px;
  }
}

/* Define the keyframe animation */
@keyframes moveBackground {
  to {
    background-position:top left;
  }
}

.plailist-input {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 2px;
  border-radius: 2px;
  background: transparent !important;
  input {
   text-align: left;
  }
}

.plailist-input input {
  flex-grow: 1;
  color: white;
  font-size: 1.2rem;
  line-height: 1.4rem;
  vertical-align: middle;
  padding: 2rem 0.5rem;
  &::-webkit-input-placeholder {
    color: $input-text-inactive;
  }
}

.plailist-input button {
  min-width: 40px;
  color:  $input-text-inactive;
  font-size: 2.4rem;
  line-height: 2.4rem;
  padding: 0 1rem;
  vertical-align: middle;
  transition: color .25s;
  background: rgba(0,0,0,0.1);
  &:hover {
    color: $input-text-active;
  }
}